h2,h3,h4,h5,h6 {
    text-align:center;
    font-family: 'Lora', serif;
}



.exercise_heading{
    text-align:center;
    font-family: 'Fondamento', cursive;
    
}
.user_page_text{
    font-family: 'Fondamento', cursive;
}

.img-size {
    object-fit: contain;
    
    max-height: 300px;
    min-height: 300px;
}

.card-size {
    max-height: 300px;
}

.user_div{
  width: 500px;
  height: 400px;
  padding: 50px;
  background-color:#a0c3d2;
  font-family: 'Do Hyeon', sans-serif;
  font-weight:900;
  
  
}

.acc_font,li{
  font-family: 'Do Hyeon', sans-serif;
  font-weight:900;

}


.avatar_img{
    width:150px;
    height:150px;
    
}

