h2,h3,h4,h5,h6 {
    text-align:center;
    font-family: 'Lora', serif;
}



.exercise_heading{
    text-align:center;
    font-family: 'Fondamento', cursive;
    
}

body{
   background-color:#a0c3d2;
}

.user_page_text{
    font-family: 'Fondamento', cursive;
}

.img-size {
    object-fit: contain;
    /* object-position: top; */
    max-height: 300px;
    min-height: 300px;
}

.card-size {
    max-height: 300px;
}

.card-title-size {
    background-color: black !important;
    padding: 16px;
}