  
<!DOCTYPE html>
<html lang="en">

<head>
    <link href ="{{url_for ('static', filename ='css/styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>
 <ul id="dropdown2" class="dropdown-content">
  <li><a href="{{url_for('get_exercises', category_id = 'Chest')}}">Chest</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Arms')}}">Arms</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Abdominals' )}}">Abdominal</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Back')}}">Back</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Shoulders' )}}">Shoulders</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Legs' )}}">Legs</a></li>
</ul>
 <ul id="dropdown1" class="dropdown-content">
  <li><a href="{{url_for('get_exercises', category_id = 'Chest')}}">Chest</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Arms')}}">Arms</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Abdominals')}}">Abdominal</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Back')}}">Back</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Shoulders' )}}">Shoulders</a></li>
  <li><a href="{{url_for('get_exercises', category_id = 'Legs' )}}">Legs</a></li>
</ul>
  <nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo right">B&A</a>
     <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>   
     <ul class="left hide-on-med-and-down">
     <li><a href="{{url_for('index_page')}}">Home</a></li>
    {% if session['username']%}
        <li class ="hide"><a href="{{url_for('register')}}">Register</a></li>
        {%else%}
        <li><a href="{{url_for('register')}}">Register</a></li>
        {% endif %}
         {%if session['username']%}
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            <li><a href="{{url_for('userprofile')}}">Profile</a></li>
       {%else%}
           <li><a href="{{url_for('login')}}">Login</a></li>
        {% endif %}
           <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Search Exercises<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
 </nav>  

   <ul class="sidenav" id="mobile-links">
    {%if session['username']%}
     <li><a href="{{url_for('logout')}}">Logout</a></li>
     <li><a href="{{url_for('userprofile')}}">Profile</a></li>
       {%else%}
        <li><a href="{{url_for('login')}}">Login</a></li>
        {% endif %}
      <li><a href="{{url_for('index_page')}}">Home</a></li>
      <li><a href="{{url_for('register')}}">Register</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Search Exercises<i class="material-icons right">arrow_drop_down</i></a></li>
 </ul>



  
</header>
    {% block content %} 
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
   
    
    
    <script>
       $(document).ready(function() {
           $('.modal').modal();
           $(".dropdown-trigger").dropdown();
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.slider').slider();
            $('.carousel').carousel();
            $('.sidenav').sidenav();
            $('#workout_description').trigger('autoresize');
             

        
        
        });

    </script>
   
</body>
    
            


</html>