{% extends 'base.html' %} {% block content %}

<div class="container">
  <h3>Workouts</h3>
  <div class="row">
    {% for muscle_category in exercises %} {% if muscle_category.muscle_category
    == selected_category %}

    <div class="col s12 m6">
      <div class="card-panel blue-grey darken-1 hoverable">
        <div class="card-content white-text">
          <span class="card-title">{{muscle_category.exercise_type}}</span>
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
          <div class="image">
            <img
              alt="sample"
              class="card_image"
              src="data:image/png;base64,{{muscle_category.exercise_image}}"
            />
          </div>
        </div>
        <div class="card-action">
         <button onclick="like_btn()"id="like_btn"class="waves-effect waves-light btn btn-floating pink lighten-1"><i class="material-icons left">favorite</i>Like</button>

        

        </div>
      </div>
    </div>

  {% endif %} {% endfor %}
	</div>
</div>

{% endblock %}
