{% extends 'base.html' %}

{% block content %}
<div class="slider">
<ul class="slides">
<li>
<img class="responsive-img" src="static/images/homepage.jpg" alt="exercise_image">
<div class="caption left-align">
          <h3>Before and After</h3>
          <h5 class="light grey-text text-lighten-3">Everything to lose, Everything to gain..</h5>
        </div>
      </li>
       
    
      </ul>
</div>

<h3> Welcome to Before and After </h3>
<p>Youre probably asking yourself what are we all about, when what you should really be asking is "what am I all about?"
    Here at before and after, we provide a platform for people to share their fitness journeys and goals with us all. 
    Even more ,here are shared exercises and workout regimes that worked best for  and is catapulting them
    closer and closer to their after stories. So who are you in all this?...easy you are the teacher and the learner
    Join today to find your success!</p>




{% endblock %}