{% extends 'base.html'%}
{% block content %}


<div class="container ">
<div class="row">
 <div class="col s12">
<h4 class="user_text"><strong>Welcome to your Profile</strong> </h4>
 <p class="user_text"> Keep a record of all the workouts and exercises that you love most. Here in your profile  you can 
 edit , delete and update any of your exercise routines.Members of the before and after community can view your
 workouts also.<small>*Please note that only you as the user can edit or 
 delete your added exercises.*</small></p>
  </div>
  <div class="s6 offset-s6">
<a href="{{url_for('add_exercise')}}" class="waves-effect waves-light btn black white-text"><i class="material-icons">add</i>Add Exercise</a></div>
    </div>
    </div>


    <h5 class="exercise_heading"> Your Exercises</h5>
    <div class="row white"> 
    {% for user_exercise in user_exercises %}
    <div class="col s12 m6">
      <div class="card grey darken-1 hoverable card large">
      <div class="card-image waves-effect waves-block waves-light" >
      <img class=" activator responsive-img" src="data:image/png;base64,{{user_exercise.exercise_image}}">
      </div>
     <div class="card-content white-text ">
        <span class="card-title activator grey-text white-text">View More<i class="material-icons right">more_vert</i></span>
      <p><a href="#"></a></p>
          <span class="card-title"><strong>{{user_exercise.exercise_type}}</strong></span>
          </div>
         <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <ul >
            <li>
              <i class="small material-icons">title</i><strong>Exercise Name :</strong>{{ user_exercise.exercise_type }}
            </li>
            <li>
              <i class="small material-icons">rotate_right</i
              ><strong>How Many Reps :</strong>{{user_exercise.amount_of_reps}}
            </li>
            <li>
              <i class="small material-icons">loop</i
              ><strong>How Many Sets:</strong>{{ user_exercise.amount_of_sets}}
            </li>
            <li>
              <i class="small material-icons">timer</i
              ><strong>Duration(Minutes): </strong>{{user_exercise.exercise_duration}}
            </li>
         <h6><strong>Description:</strong></h6>
            <li><i class="small material-icons">assignment</i
              >{{user_exercise.workout_description}}</li>
               </ul>

                <div class="card-action">
       <a href="{{url_for('edit_exercise', user_exercise_id=user_exercise._id)}}"
            class="waves-effect waves-light white-text btn green">Edit</a>
          <a href="{{url_for('delete_exercise', user_exercise_id=user_exercise._id)}}"
            class="waves-effect waves-light btn red white-text"
            >Delete</a>
        </div>
      </div>
    </div>
</div>


       
   
    

    {% endfor %}    
    

 

   

{% endblock %}