{% extends 'base.html'%}

{% block content %}


    
     <img src="static/images/profile_avatar.png" alt="profile_avatar" class="profile_avatar">
    <div class="row">

      <div class="col s12 m4 l3 cyan lighten-5"> 
      <h5> Personal info </h5>
     

      </div>

      <div class="col s12 m8 l9"> 
        <a href="{{url_for('add_exercise')}}" class="waves-effect waves-light btn">Add your Own exercise</a>

      </div>

    </div>
   <div class="col s12 m4 l3 cyan lighten-5"> 
      <h5> your exercises you added</h5>
      {% for user_exercise in user_exercises %}
        <div>
        <h6>{{user_exercise.muscle_category}}</h6>
        <ul>
       <li> {{ user_exercise.exercise_type }}</li>
        <li> {{ user_exercise.amount_of_sets}}</li>
        <li> {{user_exercise.amount_of_reps}}</li>
        <li>{{user_exercise.exercise_duration}}</li>
        
        </ul>
        </div>
    {% endfor %}

      </div>
   

{% endblock %}